<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1><a href="/">Ladies <span>of</span> Leisure</a></h1>
            <h2>Toronto Improv</h2>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Ladies of Leisure<br />
                Toronto Improvisation<br />
              </p>
            </div>
            <div class="contact">
              <p>
                theladies@emarchak.com
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
